<div class='container'>
  <div name='loginBtn' style="position:fixed;top:30%;left:50%;margin-left:-100px;">
    <h2 style="text-align:center;color:#F4A460;margin-top:-50px;margin-left:-110px">Popularity of Your Followers</h2>
    <br><br>
    <p>Name: {{user.name}}</p>
    <p>Instagram ID:{{user.ig_id}}</p>

    <a href="/c3visualization">Count on Follows with C3</a>
    <br/>
    <a href="/visualization">Count on Media post with D3</a>
    <br/>
    <a href="/visualization2">Your Followers with new D3</a>
  </div>
</div>


