<div class='container'>
  <h1> Count on Follows and Followed-by of Your Instagram Followers</h1>
  <br><br>
  <div id="spinner">
	Loading...
  </div>
  <div id="chart"></div>
</div>
<script src="js/c3visualization.js"></script>
