<h1> Count on Follows and Followed-by of Your Instagram Followers using C3JS </h1>
<div id="chart"></div>
<script src="js/d3.min.js"></script>
<script src="js/c3.min.js"></script>
<script src="js/c3visualization.js"></script>
