<div class='container'>
    <div name='loginBtn' style="position:fixed;top:40%;left:50%;margin-left:-100px;">
      <h2 style="text-align:center;color:#F4A460;margin-top:-50px;margin-left:-110px">Popularity of Your Followers</h2>
      <br><br>
      <button class="btn btn-default btn-info" id="instagramBtn">Login with Instagram</button>
    </div>
</div>
<script src="js/login.js"></script>
